h1 {
  color: Purple;
  font-size: 100px;
  text-align: center;
  text-shadow: 0 0 25px purple;
  animation: text 10s linear 9s 1;
}
/* дз зробити зміну дня і ночі */

body {
  background-color: black;
  overflow-y: hidden;
}


.sun {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 191, 0);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

.nextc {
  width: 100px;
  height: 100px;
  margin: 100px;
  background-color: #ffd332;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:15px 15px 30px #ffe895;
  animation: sunshadow 5s linear 2s infinite;
  transition: background-color 0.5s ease;
  border: 0;
}

@keyframes sunshadow {
  0% {
    box-shadow:15px 15px 30px #ffe895;
  }

  25% {
    box-shadow:45px 25px 30px #fbe38d;
  }

  50% {
    box-shadow:25px 55px 30px #fbe38d;
  }

  100% {
    box-shadow:15px 15px 30px #fbe38d;
    background-color: #ffce1c;
  }
}

.moon {
  background-color: #fff;
  box-shadow:10px 10px 35px #fffffd;
  animation: none;
}

.part {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 300px;
  height: 700px;
  background-color: rgb(71, 71, 71);
}

.sp1 {
  animation: gradient-move 1.5s linear 1s infinite;
}

.sp2 {
  animation: gradient-move 1.5s linear 2s infinite;
}

.sp3 {
  animation: gradient-move 1.5s linear 3s infinite;
}

.sp4 {
  animation: gradient-move 1.5s linear 4s infinite;
}

.window {
  height: 50px;
  width: 50px;
  background-color: rgb(34, 34, 34);
  margin: auto;
  animation: w 4s ease-in 9s infinite forwards;
}

.w1,
.w5,
.w9 {
  animation: w 4s ease-in 7s infinite forwards;
}

.w4,
.w7,
.w16 {
  animation: w 4s ease-in 5s infinite forwards;
}

.w11,
.w8,
.w15 {
  animation: w 4s ease-in 8s infinite forwards;
}

.w3,
.w7,
.w14 {
  animation: w 4s ease-in 9s infinite forwards;
}

.w2,
.w10,
.w12,
.w13 {
  animation: w 4s ease-in 12s infinite forwards;
}

@keyframes w {

  0%,
  100% {
    background-color: rgb(34, 34, 34);
  }

  10% {
    background-color: rgb(255, 168, 17);
  }
}

.animation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: tower 10s linear .2s 1;
}

.gradient-text {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* animation: gradient-move 3s infinite linear; */
}


.wordspan {
  animation: wspan 2s linear 5s infinite forwards;
}

@keyframes wspan {
  0%, 100% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(90deg);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0%;
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    background-position: 100%;
    transform: scale(1);
  }
}

.door {
  height: 100px;
  width: 50px;
  margin-left: 220px;
  margin-top: 50px;
  background-color: rgb(26, 26, 26);
}

@keyframes tower {
  0% {
    transform: translate(-50%, 1200px);
  }

  100% {
    transform: translate(-50%, 100px);
  }

}

@keyframes text {

  0%,
  100% {
    font-size: 100px;
  }

  25% {
    font-size: 30px;
  }

  50% {
    color: rgb(255, 0, 81);
  }
}


@media (max-width: 443px) {
  .gradient-text {
    font-size: 2.5rem;
  }

  .part {
    width: 250px;
    height: 600px;
  }
}